input.Correct {
    color: #009b0f;
}

.flex-form button.Change {
    background: rgba(0, 188, 91, 0.8);
    border: 2px solid rgba(0, 188, 91, 1);
    cursor: pointer;
}

.flex-form button.Correct {
    background: rgba(0, 188, 91, 0.8);
    border: 2px solid rgba(0, 188, 91, 1);
    cursor: not-allowed;
}

.flex-form button.Correct:disabled:hover {
    background: rgba(0, 188, 91, 0.8);
    border: 2px solid rgba(0, 188, 91, 1);
}

.flex-form button:disabled {
    cursor: not-allowed;
}

.flex-form button:disabled:hover {
    background: rgba(70, 28, 9, 0.7);
    border: 2px solid rgba(96, 32, 11, 0.5);
}

.container {
    margin-bottom: 25px;
}

.flex-form button {
    background: rgba(70, 28, 9, 0.7);
    border: 2px solid rgba(96, 32, 11, 0.5);
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.flex-form button:hover {
    background: rgba(0, 188, 91, 0.8);
    border: 2px solid rgba(0, 188, 91, 1);
}

.flex-form {
    display: -webkit-box;
    display: flex;
    position: relative;
    height: 50px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
}

.Tooltip {
    font-size: 14px;
    cursor: pointer;
    position: relative;
    line-height: 55px;
}

.Tooltip i {
    opacity: 0.8;
}

.TooltipText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tooltip .TooltipText {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    line-height: 20px;
    width: 200px;
    height: 62px;
    position: absolute;
    bottom: -15%;
    margin-left: -230px;
    opacity: 0;
    transition: opacity 0.3s;
}

.Tooltip .TooltipText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.Tooltip:hover .TooltipText,
.Tooltip:hover i {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1050px) {
    .Tooltip .TooltipText {
        bottom: 0;
        position: fixed;
        left: 0;
        margin: 0;
        width: 100%;
        z-index: 10;
        padding: 0;
        border-radius: 0;
    }
}
