input.Correct {
  color: #009b0f;
}

.flex-form button.Change {
  background: rgba(0, 188, 91, 0.8);
  border: 2px solid rgba(0, 188, 91, 1);
  cursor: pointer;
}

.flex-form button.Correct {
  background: rgba(0, 188, 91, 0.8);
  border: 2px solid rgba(0, 188, 91, 1);
  cursor: not-allowed;
}

.container {
  margin-bottom: 25px;
}

.flex-form button {
  background: rgba(70, 28, 9, 0.7);
  border: 2px solid rgba(96, 32, 11, 0.5);
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form button:hover {
  background: rgba(0, 188, 91, 0.8);
  border: 2px solid rgba(0, 188, 91, 1);
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  height: 50px;
  width: 100px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}