.Logo {
    padding: 8px;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    transition: all 0.3s ease-out;
    height: 100%;
}

.Logo img:hover {
    height: 105%;
}