.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 80%;
    height: 100%;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Back {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 30px;
    left: 0;
    top: 0;
    cursor: pointer;
}
.Back::before,
.Back::after {
     position: absolute;
     top: 30px;
     left: 20px;
     content: '';
     width: 20px;
     height: 2px;
     background: black;
     display: block;
}
.Back::before {
     transform: rotate(45deg);
 }
.Back::after {
     transform: rotate(-45deg);
 }

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 25%;
    width: 25%;
    margin-bottom: 16px;
    margin-left: 10%;
}

@media (min-width: 720px) {
    .SideDrawer {
        display: none;
    }
}

@media (max-width: 320px) {
    .Logo {
        margin-left: 0;
    }
}