body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-image: url("./assets/images/wallpaper.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  zoom: 140%;
}

@media (max-width: 500px) {
  body {
    zoom: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
